.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.overlay{
  position: fixed;
  height: 100%;
  top:0;right:0;left:0;bottom:0;
  background-color:rgba(255,255,255,0.6);
  z-index:0;
  min-height: 100vh;
}

.player-name {
  padding: 3%;
  width: 96%;
  font-size: 3vmin;
  margin: 2%;
  cursor: pointer;
}

.category-label {
  padding: 3%;
  width: 96%;
  font-size: 3vmin;
  margin: 2%;
  cursor: pointer;
}

.player-score {
  font-size: 4vmin;
  font-weight: bold;
  padding: 3%;
  color: #4e4b4b;
}

.category-score {
  align-self: center;
  input {
    font-size: 3vmin;
    width: 100%;
  }
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    font-size: 4vmin;
    font-weight: bold;
    cursor: pointer;
    width: 6vmin;
    height: 6vmin;
  }
}

.header-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  div.header {
    width: 100%;
    box-shadow: 0 0 5px 0;
    font-size: 4vmin;
    font-weight: bold;
    margin-bottom: 1%;
    span.Dropdown-arrow {
      top: 45%;
      right: 2%;
      border-width: 1.5vmin 1.5vmin 0;
    }
  }
}

div.popup-content {
  width: auto !important;
  border-radius: 10px;
  input {
    font-size: 3vmin;
  }
}

button {
  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  border-radius: 10px;
}

input {
  background-color: rgba(201, 200, 200, 1);
  border: none;
  border-radius: 10px;
  padding: 2%;
}

.Dropdown-control, .Dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.Dropdown-menu {
  max-height: 90vh;
}

.Dropdown-option.is-selected {
    background-color: rgba(255, 255, 255, 0.9);
}

div.modal-outline {
  padding: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    margin: 0;
  }
}

.winner {
  color: red;
}
